# Package Files #
*.war
*.ear

# compiled sources
*.class
!ui/server/*.class

# solr stuff
radioSolr/Radio/Radio/solr/Radio/data/
radioSolr/Radio/Radio/solr/Radio/conf/dataimport.properties
!radioSolr/Radio/**/*.war

# gedit temporary files
*~

# except this file
!.gitignore

